* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --current-hue: 0;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-white-opacity-20: hsla(0, 0%, 100%, 0.2);
  --color-base-white-opacity-00: hsla(0, 0%, 100%, 0);

  --color-base-blue-100: hsl(calc(195 + var(--current-hue)), 46%, 40%);
  --color-base-blue-500: hsl(calc(195 + var(--current-hue)), 91%, 25%);
  --color-base-blue-800: hsl(calc(240 + var(--current-hue)), 6%, 13%);
  --color-base-blue-900: hsl(calc(240 + var(--current-hue)), 5%, 7%);

  font-size: 62.5%;
}

body, input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
}

.page {
  display: grid;

  grid-template-areas: 
    "header" 
    "main" 
    "footer";
  grid-template-rows: max-content 1fr max-content;

  height: 100vh;
}

header {
  grid-area: header;

  padding: 1.6rem 2.4rem;

  background-color: var(--color-base-blue-500);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;

  --start-Y: -100%;
  animation: move .3s;
}

#logo {
  width: 4rem;
  height: 4rem;
}

.input-wrapper {
  width: 100%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
}

.input-wrapper input {
  width: 100%;
  height: 4rem;
  padding: 1.2rem 1.4rem;

  border: none;
  border-radius: .4rem;

  background-color: var(--color-base-white-opacity-20);
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
}

#user-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

main {
  grid-area: main;
  overflow-y: scroll;

  display: grid;
  grid-template-areas: 
    "image"
    "content"
    "sidebar";
  gap: 3.2rem;
}

section.content {
  grid-area: content;
}

section.sidebar {
  grid-area: sidebar;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

h1, h2 {
  font-size: 2.4rem;
  color: var(--color-base-blue-800);
}

h2 {
  font-size: 1.8rem;
}

p {
  color: var(--color-base-blue-900);
}

button {
  border-radius: 50%;

  border: none;
  background-color: var(--color-base-white-opacity-00);

  cursor: pointer;
}

main section {
  padding: 0 2.2rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

main > img {
  height: 220px;
  width: 100%;
  
  object-fit: cover;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

article {
  display: grid;

  grid-template-areas: "image header" "image content";
  grid-template-columns: 1fr 3fr;

  gap: 1.6rem;

  animation: appear .4s calc(.4s + (var(--n) * .2s)) backwards;
}

article > img {
  grid-area: image;

  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: .4rem;

  width: 16rem;
  height: 100%;
}

article > h2 {
  grid-area: header;
}

article > p {
  grid-area: content;
}

main section:last-child {
  padding-bottom: 3.2rem;
}

footer {
  grid-area: footer;

  padding: 2.4rem 1.6rem;
  background-color: var(--color-base-blue-100);
}

footer p {
  color: var(--color-base-white);

  width: 100%;
  text-align: center;

  --start-Y: 100%;
  animation: move .3s;
}

@keyframes move {
  from {
    transform: translateY(var(--start-Y));
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }

  .header-content {
    width: 100%;
    max-width: 1200px;
  }

  main {
    justify-self: center;
    max-width: 1200px;
    padding: 3.2rem;

    grid-template-areas: "image sidebar" "content sidebar";
  }

  main > img {
    border-radius: .5rem;
  }
}